{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
        <h1>{{ annonce.id }}. {{ annonce.title }}</h1>
        <li>Description: {{ annonce.description }}</li>
        <li>Price: {{ annonce.price }}</li>
        <li>Is Sold: {{ annonce.isSold }}</li>
        <li>Status: {{ annonce.status }}</li>
        <li>Created at: {{ annonce.createdAt|date('d/m/y') }}</li>

{% endblock %}
